.sidebar-bg {
    background: #715E48;
}

.back-search{
    width: calc(100vw - 470px)!important;
}

#submit_button {
    background: #A59079;
    outline: #ddc6ad;
    color: white;
}

.search-btn {
    background: #A59079;
    outline: #ddc6ad;
    color: white;
}

.search-btn:hover {
    color: #000000;
}


#submit_button:hover {
    color: #000000;
}

.pagination {
    bottom: 0%;

}

.my_edit_btn,.my_remove_btn {

    color: #A59079 !important;
    font-size: 1.2rem;
    margin-right: 5px;
}

.wrapped-text {
    word-break: break-word;
}

.my_food_row th,td {
    width: 25%;
}
.my_food_row th:first-child {
    width: 30%;
}
.my_food_row th:last-child {
    width: 20%;
}
.my_food_row td:first-child {
    width: 30%;
}
.my_food_row td:last-child {
    width: 20%;
}



.double-column th:first-child {
    width: 70%;
}
.double-column td:first-child {
    width: 70%;
}

.double-column th:last-child {
    width: 30%;
}

.double-column td:last-child {
    width: 30%;
}

.my_category_row td {
    width: 30%;
}
.my_service_row td:first-child {
    width: 70%;
}
.my_service_row td:last-child {
    width: 30%;
}

.my_review_row td {
    width: 30%;
}

/*#modal_descriptionEn,#modal_descriptionFi {*/
/*    height: 200px;*/
/*    word-break: break-word;*/
/*}*/
