html {
    font-size: 1rem;
    scroll-behavior: smooth;
}



body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: gray;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;

    }
}

.error-background {
    height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+98,de47ac+100&1+0,0.42+100 */
    background: -moz-linear-gradient(top,  rgba(203,96,179,1) 0%, rgba(173,18,131,0.43) 98%, rgba(222,71,172,0.42) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(173,18,131,0.43) 98%,rgba(222,71,172,0.42) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(203,96,179,1) 0%,rgba(173,18,131,0.43) 98%,rgba(222,71,172,0.42) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#6bde47ac',GradientType=0 ); /* IE6-9 */

}


#sticky-footer {
    flex-shrink: none;
}

.icons {
    font-size: 1.2rem;

}

.icons i {
    margin-right: 10px;
}

navbar-toggler-icon {
    color: white !important;
}



 /*Home screen css*/

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
 
  .carousel-item:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(0,0,0,0.5);
    pointer-events: none;
  }

  .bg-transparent.scrolled {
      background: rgba(0,0,0,0.6) !important;
  }


.nav-item {
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.nav-link {
      color: white !important;
      font-size: 17px;
  }

  .nav-link:hover {
      color: lightgray !important ;
  }

  .welcome-heading {
      font-family: 'Great Vibes', cursive;

      color: #ddc6ad;
  }

  .fade-animation {
      animation: fadeIn 1.5s forwards;
      opacity: 0;
      transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .firstSpan {
      animation: firstSpan 1.5s forwards;
      opacity: 0;

  }

.navbar .container .navbar-brand {
   font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #ddc6ad !important;
}


 /*Home screen css*/



            /*Slider text animation*/

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes firstSpan {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    60% {
        opacity: 0;
        transform: translateY(-200%);
    }


    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes secondSpan {
    0% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-0%);
    }
}

/*Slider text animation*/


/*Gallery css starts here*/
.gallery-background {
    background: url("/assets/img/gallerybg.png") no-repeat fixed center -150px/cover  ;
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;


}

.text-background {
    position: absolute;
    min-width: 50%;
    height: 40%;
    top: 50%;
    left: 50%;
    background-color: #1b1e21;
    opacity: 0.8;
    transform: translate(-50%,-50%);

}

.text-background h3 {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-background p {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gallery-block.grid-gallery{
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block.grid-gallery .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
    opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.4s;

}

.gallery-block.grid-gallery .item{
    margin-bottom: 20px;
}

/*gallery css end */


/*Menu css start*/
.menu-background {
    background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat fixed center 90%/cover    ;
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;


}

.color-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
}


.menu-text-background {
    position: absolute;
    min-width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    background-color: #1b1e21;
    opacity: 0.8;
    transform: translate(-50%,-50%);

}

.menu-text-background h3 {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-category {
    background:#FFECCC;
    border: 10px solid white;


}

.foodName {
    cursor: pointer;
    font-family: 'Great Vibes', cursive;
}
.menu-category a {
    padding: 30px 20px 20px;
}

.menu-category a>i {
    font-size: 40px;
}

.menu-item-img {
    overflow: hidden;
}

.menu-item-img img {
    max-width: 100%;
}



.menu-item-content h5>span {
    color: #ddc6ad;
}
.menu-item {
    padding: 0;
}






  /*Menu css end*/



/*Contact css start*/
.contact-background {
    background: url("https://images.unsplash.com/photo-1515678916313-2263ebfad5cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat fixed center 90%/cover    ;
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;


}

.color-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
}


.contact-text-background {
    position: absolute;
    min-width: 50%;
    height: 40%;
    top: 50%;
    left: 50%;
    background-color: #1b1e21;
    opacity: 0.8;
    transform: translate(-50%,-50%);

}

.contact-text-background h3 {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contact {
    background: #ddc6ad;
}

.contact-icon-container i {
    color: #37474f ;
}

.contact-text-container h4 {
    color: #455a64 ;
}

.contact-text-container a {
    color: #4B515D  ;
    text-align: center;
    display: block;
    word-wrap: break-word;
    font-size: 1.2rem;
}

.contact-text-container a:hover {
    color: #0288d1 ;
}

.contact-text-container p {
    font-size: 1.2rem;
}

.menu-content {
    display: none;
}

#show-contentdiv {
    display: block;
}

.feedback-heading {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: #A59079;
}

.submit {
    background-color: #A59079;
    color: white;
}




/*Contact css end*/


/*about css starts here*/


.about-background {
    background: url("https://images.unsplash.com/photo-1561731172-9d906d7b13bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80") no-repeat fixed center 90%/cover    ;
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;


}

.color-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
}


.about-text-background {
    position: absolute;
    min-width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    background-color: #1b1e21;
    opacity: 0.8;
    transform: translate(-50%,-50%);

}

.about-text-background h3 {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about-heading h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}


.about-img-container img {
    max-width: 100%;
}

.about-text-container p {
    font-family: 'EB Garamond', serif;
    font-size: 1.1rem;
}

.about-text-container p.starter-par::first-letter {
     font-family: 'Great Vibes', cursive;
     color: #84705A;
     font-size: 36px;
     line-height: 80%;
    letter-spacing: 5px;
 }





.review-background {
    background: url("https://images.unsplash.com/photo-1544148103-0773bf10d330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat fixed center 70%/cover    ;
    height: 300px;
    overflow: hidden;
    text-align: center;
    position: relative;


}

.color-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
}


.review-text-background {
    position: absolute;
    min-width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    background-color: #1b1e21;
    opacity: 0.8;
    transform: translate(-50%,-50%);

}

.review-text-background h3 {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.review {
    background: #FAF7FF;

}

.review h5 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: #A59079;
}

.review p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-weight: 500;
}



/*about css ends here*/


/*services css starts here*/
.services-background {
    background: url("https://cdn.discordapp.com/attachments/701826940235153419/701855631602352189/47687001_2466282470055005_283436295001210880_o.png") no-repeat fixed center -300px/cover    ;
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;


}

.color-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
}


.services-text-background {
    position: absolute;
    min-width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    background-color: #1b1e21;
    opacity: 0.8;
    transform: translate(-50%,-50%);

}

.services-text-background h3 {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.service-heading h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
}


.service-image img {
    max-width: 90%;
}

.service-text h3 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: #A59079;
}

.service-text p {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

.service-header {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: #A59079;
}



/*services ends here*/

/*booking starts here*/
.booking-background {
    background: url("https://cdn.discordapp.com/attachments/701826940235153419/701871384158142524/unknown.png") no-repeat fixed center -300px /cover    ;
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;


}

.booking-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
}


.booking-text-background {
    position: absolute;
    min-width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    background-color: #1b1e21;
    opacity: 0.8;
    transform: translate(-50%,-50%);

}

.booking-text-background h3 {
    font-family: 'Srisakdi', cursive;
    color: #ddc6ad;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/*booking ends here */

/*login starts here*/

.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #715E48;

}

.login-form h3 {
    font-family: 'Srisakdi', cursive;
    font-size: 2.5rem;
}

#sticky-footer {
    padding: 10px 0 !important;
}






/*responsive staff*/

@media (max-width: 576px) {
    .display-1,.display-2,.display-3 {
        font-size: 2.5rem  !important;
    }

    .service-header {
        text-align: center;
    }

    .service-image {
        text-align: center;
    }

    .service-text h3 {
        text-align: center;
    }

    .fixed-top {
        right: 2% !important;
    }


    .navbar .container .navbar-brand {
        font-family: 'Great Vibes', cursive;
        font-size: 30px;
        color: #ddc6ad !important;
    }

    .menu-item-content h5 {
        word-break: break-word ;

    }
    .menu-item-content span {
        word-break: keep-all ;
    }
    #sticky-footer {
        padding: 0 !important;
    }
}
@media (min-width: 576px) and (max-width:768px) {
    .display-1,.display-2,.display-3 {
        font-size: 3.5rem  !important;
    }

    .menu-item-content h5 {
        word-break: break-word ;
    }
    .menu-item-content span {
        word-break: keep-all ;
    }

    .nav-item {
        padding-right: 0;
    }
    #sticky-footer {
        padding: 0 !important;
    }
}



@media (min-width: 576px) {

    .gallery-block.grid-gallery .scale-on-hover:hover{
        transform: scale(1.05);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }

    .menu-item-content h5 {
        word-break: break-word ;
    }
    .menu-item-content span {
        word-break: keep-all ;
    }


}

@media (max-width: 576px) {
    .fixed-top {
        right: 0 !important;
    }

    #sticky-footer {
        padding: 0 !important;
    }
}